@import './base/variables';
@import './base/global';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30%;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 30px;
  width: 70%;
}

.themeSwitch {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 20px;
}

.importExport {
  display: flex;
  gap: 10px;
}