@import './base/variables';
@import './base/global';

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 30px;
  width: 70%;
}

.themeSwitch {
  align-self: center;
  margin-bottom: 20px;
}