.accounts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  // width: 100%;
  margin-bottom: 20px;
}

.accountStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 20px;
}

.accIcon {
  width: 60px;
  height: 60px;
  margin-top: 10px;
}

.accName {
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
}

.accBalance {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.accCurrency {
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
}

.addAccBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 600px) {
  // .accounts {
  //   grid-template-columns: 1fr;
  // }

  .accountStyle {
    width: 120px;
    height: 120px;
  }

  .accIcon {
  width: 40px;
  height: 40px;
  margin: 0;
}

.accName {
  font-size: 15px;
  margin: 6px;
}

.accBalance {
  font-size: 15px;
  margin: 4px;
}

.accCurrency {
  font-size: 14px;
  margin: 0;
}
.addAccBtn img {
  width: 60px;
  height: 60px;
}
}
