.buttons {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 40px 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  width: 110px;
  height: 60px;
}

.incomeBtn {
  border: 1px solid var(--save-btn-bg);
}

.expenseBtn {
  border: 1px solid var(--delete-btn-bg);
}

.transferBtn {
  border: 1px solid var(--transfer-btn-bg);
}

@media (max-width: 600px) {
  .button {
    font-size: 13px;
    height: 50px;
    width: 100px;
  }

  .buttons {
    width: 100%;
    margin: 20px 0;
  }
}