.changeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.inputContainer {
  margin-bottom: 15px;
}

.inputText {
  font-size: 16px;
  margin-bottom: 5px;
  color: #e7e7e7;
}

.input {
  width: 200px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 5px;
}

.changeName,
.changeBal {
  background-color: #e7e7e7;
}

.changeCur,
.changeIcon {
  width: 200px;
  height: 30px;
  border-radius: 4px;
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
}

button {
  width: 120px;
  height: 40px;
  background-color: #333;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.changeAccBtn {
  background-color: rgb(0, 0, 185);
}

.deleteAccBtn {
  background-color: rgb(185, 0, 0);
}

.changeAccBtn:hover {
  background-color: rgb(0, 0, 240);
}

.deleteAccBtn:hover {
  background-color: rgb(240, 0, 0);
}

.backBtn {
  background-color: #252525;
}

.backBtn:hover {
  background-color: #333;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
