.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: var(--bg);
  padding: 20px 25px;
  border-radius: 8px;
  min-width: 300px;
  max-width: 90%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modalContent input {
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 13px;
}

.modalContent .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.addBtn {
  background-color: var(--save-btn-bg);

  &:hover {
    background-color: var(--save-btn-hover-bg);
  }
}

.cancelBtn {
  background-color: var(--delete-btn-bg);

  &:hover {
    background-color: var(--delete-btn-hover-bg);
  }
}