.transactionsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.transactions {
  margin-top: 30px;
  width: 100%;
}

.transactionStyle {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.transactionDetails {
  display: flex;
  flex-direction: row;
}

.leftDetails {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 2%;
  margin-top: 0;
}

.rightDetails {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-end;
  margin-right: 2%;
}

.transName {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bolder;
}

.transMethod {
  font-size: 13px;
  color: #e7e7e7;
  margin-top: 0;
}

.transAmountIncome {
  font-size: 20px;
  color: #00b300;
  font-weight: bolder;
  margin-bottom: 0;
}

.transAmountExpense {
  font-size: 20px;
  color: #b30000;
  font-weight: bolder;
  margin-bottom: 0;
}

.transCurrencyIncome,
.transCurrencyExpense {
  font-size: 14px;
  margin-bottom: 0;
}

.transDate {
  font-size: 12px;
  color: #e7e7e7;
}

@media (max-width: 600px) {
  .transactionsBox {
    width: 100%;
  }

  .leftDetails,
  .rightDetails {
    align-items: flex-start;
    margin: 0;
  }

  .transName {
    font-size: 14px;
  }

  .transMethod {
    font-size: 12px;
    margin-top: 0;
  }

  .transAmountincome,
  .transAmountexpense {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .transCurrencyincome,
  .transCurrencyexpense {
    font-size: 12px;
  }

  .transDate {
    font-size: 10px;
  }
}
