.transactionStyle a {
  display: block;
  width: 100%;
  height: 100%;
}

.transactionsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.transactionStyle {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  width: 100%;
  height: auto;
  background-color: var(--btn-bg);
  border-radius: 8px;
  color: var(--text);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--btn-hover-bg);
  }
}

.transactionDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.leftDetails {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.rightDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2%;
}

.transName {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bolder;
}

.transMethod {
  font-size: 13px;
  color: #e7e7e7;
  margin-top: 0;
}

.transAmountIncome {
  font-size: 20px;
  color: #00b300;
  font-weight: bolder;
  margin-bottom: 0;
}

.transAmountExpense {
  font-size: 20px;
  color: #b30000;
  font-weight: bolder;
  margin-bottom: 0;
}

.transCurrencyIncome,
.transCurrencyExpense {
  font-size: 14px;
  margin-bottom: 0;
}

.transDate {
  font-size: 12px;
  color: #e7e7e7;
}

@media (max-width: 600px) {
  .transactionsBox, .transactions {
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .transName {
    font-size: 14px;
  }

  .transMethod {
    font-size: 12px;
    margin-top: 0;
  }

  .transAmountIncome,
  .transAmounteExpense {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .transCurrencyIncome,
  .transCurrencyExpense {
    font-size: 12px;
  }

  .transDate {
    font-size: 10px;
  }
}