.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 16px;
}

.title {
    font-size: clamp(24px, 6vw, 36px);
    margin-bottom: 16px;
}

.note {
    font-size: clamp(14px, 4vw, 18px);
    max-width: 500px;
    line-height: 1.5;
    margin-bottom: 12px;
}

a{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: inherit;

  border: none;
  background: none;
  font: inherit;
  line-height: normal;

  cursor: pointer;
  user-select: none;

  appearance: none;
  -webkit-appearance: none;
}

.sessionBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.logIn, .signUp {
  margin-top: 28px;
    padding: 14px 28px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.signUp {
  background-color: var(--save-btn-bg);

  &:hover {
    background-color: var(--save-btn-hover-bg);
  }
}

.logIn, .logOut {
  background-color: var(--back-btn-bg);

  &:hover {
    background-color: var(--back-btn-hover-bg);
  }
}

