* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #292929;
  color: #fff;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

a:link,
a:active,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}
