header {
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: var(--bg);
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:active,
a:visited,
a:hover {
  color: var(--text);
  text-decoration: none;
}

.input {
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--input-border);
  padding: 5px;
  background-color: var(--input-bg);
  margin-top: 5px;
  cursor: pointer;

  &Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;    
  }

  &Container {
    margin-bottom: 15px;
  }
  &Text {
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--input-text);
  }
}

.button {
  width: 120px;
  height: 40px;
  background-color: var(--btn-bg);
  border-radius: 8px;
  color: var(--text);
  font-size: 16px;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--btn-hover-bg);
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.backBtn {
  background-color: var(--back-btn-bg);

  &:hover {
    background-color: var(--back-btn-hover-bg);
  }
}

.saveBtn, .importData {
  background-color: var(--save-btn-bg);

  &:hover {
    background-color: var(--save-btn-hover-bg);
  }
}

.changeBtn, .exportData {
  background-color: var(--change-btn-bg);

  &:hover {
    background-color: var(--change-btn-hover-bg);
  }
}

.deleteBtn {
  background-color: var(--delete-btn-bg);

  &:hover {
    background-color: var(--delete-btn-hover-bg);
  }
}

.error {
  border: 2px solid var(--error-border);
  background-color: var(--error-bg);
}

.importData, .exportData {
  margin-bottom: 20px;
  width: 70px;
  height: 35px;
  font-size: 13px;
  font-weight: bold;
}

.deleteCategoryBtn {
  width: 40px;
}