:root {
    --bg: #fafafa;
    --text: #1e1e1e;
    --font: 'Arial, sans-serif';

    --btn-bg: #f0f0f0;
    --btn-hover-bg: #e5e5e5;

    --input-bg: #ffffff;
    --input-border: #d0d0d0;
    --input-text: #1e1e1e;

    --back-btn-bg: #e9e9e9;
    --back-btn-hover-bg: #dcdcdc;

    // Buttons
    --save-btn-bg: rgb(0, 145, 0);
    --save-btn-hover-bg: rgb(0, 190, 0);
    --change-btn-bg: rgb(0, 0, 185);
    --change-btn-hover-bg: rgb(0, 0, 240);
    --delete-btn-bg: rgb(185, 0, 0);
    --delete-btn-hover-bg: rgb(240, 0, 0);

    // Errors
    --error-border: rgb(255, 0, 0);
    --error-bg: #ffe6e6;
}

[theme='dark'] {
    --bg: #292929;
    --text: #fff;
    --btn-bg: #333;
    --btn-hover-bg: #444;
    --input-bg: #e7e7e7;
    --input-border: #ccc;
    --input-text: #e7e7e7;
    --back-btn-bg: #252525;
    --back-btn-hover-bg: #333;
}