:root {
    --text: #262626;
    --font: 'Inter, Roboto';
    --bg: #F5F5F7;
    --header-bg: #ECECF1;
    --card-bg: #FFFFFF;
    --card-bg-border: #D9D9E0;
    --btn-bg: #f0f0f0;
    --btn-hover-bg: #e5e5e5;

    --input-bg: #ffffff;
    --input-border: #d0d0d0;
    --input-text: #1e1e1e;
    --subtle-text: #555;

    --back-btn-bg: #e9e9e9;
    --back-btn-hover-bg: #dcdcdc;

    // Buttons
    --save-btn-bg: #22C55E;
    --save-btn-hover-bg: #16A34A;
    --delete-btn-bg: #851b1b;
    --delete-btn-hover-bg: #701717;
    --transfer-btn-bg: #3B82F6;

    // Errors
    --error-border: rgb(255, 0, 0);
    --error-bg: #ffe6e6;
}

[theme='dark'] {
    --bg: #18181B;
    --header-bg: #1F1F23;
    --card-bg: #23232A;
    --card-bg-border: #34343A;
    --text: #F4F4F5;
    --btn-bg: #333;
    --btn-hover-bg: #444;
    --input-bg: #e7e7e7;
    --input-border: #ccc;
    --input-text: #e3e3e3;
    --subtle-text: #c5c5c5;
    --back-btn-bg: #2F2F36;
    --back-btn-hover-bg: #333;
}